---
import Card from "./Card/index.astro";
import { SITE } from "../site-config";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="Interests">
  <div class="flex flex-col gap-2">
    <p class="sr-only">
      Beyond coding, I'm passionate about reading, writing, competing in hackathons, speech and debate/MUN tournaments, and building projects.
      My interests include AI & Machine Learning, Data Science, Database Engineering, Full-Stack Web Development, Competitive Hackathons, and Speech and Debate.
      I love to compete and learning something new!
    </p>
    <div aria-hidden="true" class="text-sm font-light">
      <p class="text-sm font-light">
        Beyond coding, I'm passionate about reading, writing, competing in hackathons, speech and debate/MUN tournaments, and building projects.
      </p>
      <br />
      Some of my interests include:
      <ul class="list-disc list-inside">
        <li>AI & Machine Learning</li>
        <li>Data Science</li>
        <li>Database Engineering</li>
        <li>Full-Stack Web Development</li>
        <li>Competitive Hackathons</li>
        <li>Speech and Debate</li>
      </ul>
      <p class="text-sm font-light mt-2">
        I love to compete and learning something new!
      </p>
    </div>
  </div>
</Card>
