---
import Card from "./Card/index.astro";
import { Icon } from "astro-icon/components";
---

<Card
  colSpan="md:col-span-1"
  rowSpan="md:row-span-2"
  title="Projects"
  href="/playground"
>
  <div class="flex flex-col gap-2 mt-4">
    <p class="text-sm font-light">
      Check out some of my recent work and open source contributions.
    </p>

  </div>
</Card>
