---
import Card from "./Card/index.astro";
---

<Card
  colSpan="md:col-span-1"
  rowSpan="md:row-span-3"
  title="Experience"
  href="/experience"
>
  <div class="flex flex-col gap-2 mt-4 h-full">
    <p class="text-sm font-light">
      Check out my professional timeline and download my resume.
    </p>
  </div>
</Card>
